<h1>New scraper attribute <%= params[:value].gsub('_', ' ').titleize %> to <%= @scraper.name %></h1>

<%= render "form", scraper_attribute: @scraper_attribute, url: scraper_attributes_path(@scraper, params[:value]), submit_class: "btn btn-primary" %>

<div>
  <%= link_to "Back to scraper attributes", scraper_path(@scraper) %>
</div>
