<div id="status_crawler" class="pe-3">
  <% unless sale_group.status %>
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  <% end %>
</div>
